@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #E5E5E5;
    overflow-x: hidden;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    position: relative;
}

/* hero section */
    .hero-section{
        background-color: #4c1d95;
    }
    /* Nav Section */
    .hero-section nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 80px;
        background-color: transparent;
        padding: 24px 0;
    }

    .hero-section nav .logo {
        width: 72px;
        height: 72px;
        flex-basis: 10%;
    }

    .hero-section .nav-links{
        display: flex;
        justify-content: space-around;
        flex-basis: 90%;
    }

    .hero-section .nav-links li{
        list-style: none;
    }

    .hero-section .nav-links a{
        color: #F2F2F2;
        text-decoration: none;
        letter-spacing: 3px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
    }

    .hero-section .burger{
        display: none;
        cursor: pointer;
    }

    .hero-section .burger div{
        width: 25px;
        height: 3px;
        background-color: #F2F2F2;;
        margin: 5px;
        transition: all 0.3s ease;
    }

    @media screen and (max-width:1023px) {
        .hero-section .nav-links{
            position: absolute;
            right: 0;
            top: 120px;
            height: calc(100vh - 128px);
            background-color: rgba(76, 29, 149, 0.7);
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
            display: none;
        }

        .hero-section .nav-links li{
            opacity: 0;
        }

        .hero-section .burger{
            display: block;
        }

        .container{
            padding: 20px;
        }
    }

    @media screen and (min-width:1024px) {
        .nav-links li:nth-child(7),
        .nav-links li:nth-child(8){
            display: none;
        }
    }

    .hero-section .nav-links.nav-active{
        transform: translateX(0%);
        display: block;
        margin: auto;
        text-align: center;
    }

    @keyframes navLinkFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }

        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .hero-section .burger.toggle .line1{
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .hero-section .burger.toggle .line2{
        opacity: 0;
    }

    .hero-section .burger.toggle .line3{
        transform: rotate(45deg) translate(-5px, -6px);
    }
    
    .hero-section .nav-login{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-section .nav-login a{
        color: #fff;
        text-decoration: none;
        display: block;
        width: 64px;
        font-size: 16px;
        text-align: center;
        color:  #111827;
        line-height: 20px;
    }

    .hero-section .nav-login a.login{
        background-color: #fff;
        width: 94px;
        border-radius: 4px 0 0 4px;
        padding: 12px 12px 12px 24px;
    }

    .hero-section .nav-login a.signup{
        background: #FFD000;;
        width: 114px;
        border-radius: 0 4px 4px 0;
        padding: 12px 24px 12px 12px;
    }

    /* content-container */
    .content-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 145px;
        color: #F2F2F2;
        position: relative;
    }

    @media screen and (max-width:1023px) {
        .hero-section .content-container{
            flex-direction: column;
            margin: auto;
            text-align: center;
        }

        .hero-section .content-container .right-align img{
            max-width: 80vw !important;
        }

        .content-container .left-align h2{
            line-height: normal !important;
            font-size: calc(16px + 3.2vw) !important;
        }
    }
    .hero-section .content-container .left-align{
        max-width: 600px;
    }

    .hero-section .content-container .right-align img{
        max-width: 600px;
    }

    .content-container .left-align h2{
        font-size: 60px;
        line-height: 70px;
        font-style: normal;
        font-weight: bold;
        letter-spacing: 0.008em;
        margin-bottom: 32px;
    }

    .content-container .left-align p{
        font-family: Mulish;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 28px;
        margin: 0px 10px;
        margin-bottom: 75px;
    }

    .content-container .left-align a{
        color: #1F2937;
        text-decoration: none;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        padding: 18px 36px;
        border-radius: 4px;
        text-transform: uppercase;
    }   

    .hero-section .content-container .left-align .left-align-link{
        margin-bottom: 66px;
    }

    .hero-section .content-container .left-align a.link1{
        background-color: #FFD000;
        margin-right: 24px;
    }

    .hero-section .content-container .left-align a.link2{
        background-color: #FFF;
    }

    .hero-section .content-footer{
        overflow: hidden;
        width: 100%;
        margin-top: 120px;
    }

    .hero-section .content-footer svg{
        margin-bottom: -10px;
    }

/* hero section */

/* about-top-feature */
    .about-top-feature{
        margin-top: 100px;
    }

    .about-top-feature .content{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-top-feature .content .left-align{
        flex-basis: 50%;
    }

    .about-top-feature .content .right-align{
        flex-basis: 50%;
    }

    .about-top-feature .left-align .about{
        font-size: 32px;
        line-height: 48px;
        text-transform: capitalize;
        color: #F2C600;
        background: #FFFDF2;
        padding: 10px 19px;
        border-radius: 4px;
        display: inline;
    }

    .about-top-feature .left-align h3{
        font-weight: 600;
        font-size: 48px;
        line-height: 66px;
        text-transform: capitalize;
        color: #111827;
        margin-top: 20px; 
    }

    .about-top-feature .left-align .text{
        font-family: Mulish;
        font-size: 17px;
        line-height: 28px;
        color: #374151;
        margin-bottom: 60px;
    }

    .about-top-feature .left-align .images{
        position: relative;
        display: block;
        margin-bottom: 90px;
        max-width: 600px;
        width: 100%;
    }

    .about-top-feature .left-align .bottom{
        position: relative;
        top: 0;
        left: 0;
    }

    .about-top-feature .left-align .up{
        position: absolute;
        top: 30px;
        left: 40%;
    }

    .about-top-feature .left-align a{
        background: linear-gradient(180deg, #4C1D95 -4.97%, #7C3AED 85.97%);
        border-radius: 4px;
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        color: #fff;
        text-transform: uppercase;
        padding: 18px 36px;
        text-decoration: none;
    }

    .about-top-feature .right-align{
        padding: 20px;
    }

    .about-top-feature .right-align .content{
        background-color: #4C1D95;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 16px;
        position: relative;
    }

    .about-top-feature .right-align .about{
        font-size: 32px;
        line-height: 48px;
        text-transform: capitalize;
        color: #8B5CF6;
        background-color: #5B21B6;
        border-radius: 4px;
        padding: 0 18px;
        margin: 40px auto 20px;
    }

    .about-top-feature .right-align h3{
        font-weight: 600;
        font-size: 40px;
        line-height: 70px;
        text-align: center;
        text-transform: capitalize;
        color: #FFFFFF;
        margin: 0 auto 20px;
    }

    .about-top-feature .right-align ul{
        width: 100%;
        margin-bottom: 100px;
    }

    .about-top-feature .right-align li{
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .about-top-feature .right-align li p{
        color: #fff;
        font-size: 14px;
    }

    .about-top-feature .right-align li:nth-child(2n+1){
        background-color: #5B21B6;
    }

    .about-top-feature .right-align li .text{
        width: 75%;
    }

    .about-top-feature .right-align li .text::before{
        content: '';
       display: inline-block;
       width: 8px;
       height: 8px;
       margin-right: 10px;
       -moz-border-radius: 7.5px;
       -webkit-border-radius: 7.5px;
       border-radius: 7.5px;
       background-color: #fff;
    }

    .about-top-feature .right-align a.update{
       background: #FFD000;
       text-decoration: none;
       color: #1F2937;
       padding: 10px 19px;
       font-weight: 600;
       font-size: 18px;
       line-height: 20px;
       border-radius: 4px;
       margin: 40px auto;
       position: absolute;
       left: 20px;
       bottom: 0;
       cursor: pointer;
    }

    @media screen and (max-width:1023px) {
        .about-top-feature .content{
            flex-direction: column;
        }

        .about-top-feature .content .left-align{
            flex-basis: 100%;
            width: 100%;
        }
    
        .about-top-feature .content .right-align{
            flex-basis: 100%;
            width: 100%;
        }

        .about-top-feature .left-align .bottom{
            max-width: 50vw;
        }
    
        .about-top-feature .left-align .up{
            max-width: 50vw;
        }
        .about-top-feature .right-align{
            padding: 20px 0;
        }

        .about-top-feature .right-align li{
            padding: 10px;
        }
        .about-top-feature .right-align li .text{
            width: 70%;
        }
        .mob-button{
            font-size: 14px !important;
            padding: 6px 12px !important;
        }

        .hero-section .nav-login{
            max-width: 200px;
            width: 100%;
        }
        .hero-section .nav-login a.login,
        .hero-section .nav-login a.signup{
            width: 100%;
        }

        .about-top-feature .right-align .about{
            line-height: 1em;
        }

        .about-top-feature .left-align h3,
        .about-top-feature .right-align h3{
            font-size: calc(16px + 3.2vw) !important;
        }

        
        .hero-section .nav-links.nav-active{
            background-color: rgba(76, 29, 149, 0.9);
            z-index: 3;
        }
        .hero-section .nav-links.nav-active li{
            padding: 8px 20px;
        }

        .hero-section .content-container .left-align .left-align-link a{
            display: block;
            margin: 10px auto;
            max-width: 300px;
            width: 100%;
        }

        .content-container .left-align h2{
            margin-bottom: 20px;
        }

        .content-container .left-align p,
        .hero-section .content-container .left-align .left-align-link,
        .about-top-feature .left-align .text,
        .about-top-feature .content .left-align{
            margin-bottom: 30px;
        }

        .hero-section .content-footer,
        .about-top-feature{
            margin-top: 30px;
        }

        .about-top-feature .left-align .images{
            max-width: 100vw !important;
            margin: auto auto 70px;
        }

        .about-top-feature .left-align h3{
            line-height: normal;
        }
    }
/* about-top-feature */

/* about tool feature */

    .about-tool-feature{
        margin-top: 120px;
        position: relative;
    }
    .about-tool-feature .text .tool{
        font-size: 32px;
        line-height: 48px;
        text-transform: capitalize;
        color: #F2C600;
        background: #FFFDF2;
        padding: 10px 19px;
        border-radius: 4px;
        display: inline;
        z-index: 10;
    }

    .about-tool-feature .text h3{
        font-weight: 600;
        font-size: 48px;
        line-height: 66px;
        text-transform: capitalize;
        color: #111827;
        margin-top: 20px; 
        z-index: 10;
    }

    .about-tool-feature .tools-card{
        display: grid;
        position: relative;
        grid-template-columns: 1fr 1fr 1fr;
        z-index: 10;
        margin-top: -150px;
    }   
    
    .about-tool-feature .tools-card img {
        width: 100%;
    }

    .about-tool-feature .tools-card .card-1{
        margin-top: 200px;
    }

    .about-tool-feature .tools-card .card-2{
        margin-top:100px;
    }

    .about-tool-feature .tools-card .card-5{
        margin-top: -100px;
    }

    .about-tool-feature .tools-card .card-6{
        margin-top:-200px;
    }

    .about-tool-feature .content{
        position: relative;
    }

    .about-tool-feature .main-bg{
        position:absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        max-width: 1200px;
    }

    .about-tool-feature .tools-content{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-tool-feature .side-bg{
        position:absolute;
        top: -50px;
        right: 0;
        z-index: 1;
    }

    @media screen and (max-width:1023px) {
        .about-tool-feature .tools-card{
            grid-template-columns: 1fr 1fr;
        }

        .about-tool-feature .tools-card .card-1{
            margin-top: 150px;
        }
    
        .about-tool-feature .tools-card .card-2{
            margin-top: 100px;
        }
    
        .about-tool-feature .tools-card .card-3{
            margin-top: 0;
        }
    
        .about-tool-feature .tools-card .card-4{
            margin-top: -50px;
        }

        .about-tool-feature .tools-card .card-5{
            margin-top: 0;
        }
    
        .about-tool-feature .tools-card .card-6{
            margin-top: -50px;
        }

        .about-tool-feature .main-bg{
            height: 100vh;
        }

        .about-tool-feature .side-bg{
            /* top: 100px; */
            width: 10%;
        }
        
        .about-tool-feature .text h3{
            font-size: calc(16px + 3.2vw) !important;
            line-height: normal;
            margin-top: 0;
            margin-bottom: 60px;
        }
    }
    
/* about tool feature */

/* work process feature */
.work-process-feature{
    margin-top: 120px;
    position: relative;
}
.work-process-feature .head{
    margin: auto;
    text-align: center;
    margin-bottom: 60px;
}
.work-process-feature .head p{
    font-size: 32px;
    line-height: 48px;
    text-transform: capitalize;
    color: #F2C600;
    background: #FFFDF2;
    padding: 10px 19px;
    border-radius: 4px;
    display: inline;
    z-index: 10;
}

.work-process-feature .head h3{
    font-weight: 600;
    font-size: 48px;
    line-height: 66px;
    text-transform: capitalize;
    color: #111827;
    margin-top: 20px; 
    z-index: 10;
}

.work-process-feature .body .row img{
    width: 100%;
}

@media screen and (max-width:1023px) {
    .work-process-feature .head h3{
        font-size: calc(16px + 3.2vw) !important;
        line-height: normal;
    }
    .work-process-feature .head p{
        line-height: normal;
        font-size: calc(16px + 2vw) !important;;
    }

    .work-process-feature{
        margin-top: 20px;
    }

    .work-process-feature .head{
        margin-bottom: 30px;
    }

    .work-process-feature .body .left{
        margin-bottom: 40px;
    }
}
/* work process feature */

/* about brand feature */

.about-brand-feature{
    margin-top: 120px;
    position: relative;
}
.about-brand-feature .head{
    margin: auto;
    text-align: center;
    margin-bottom: 60px;
}
.about-brand-feature .head p{
    font-size: 32px;
    line-height: 48px;
    text-transform: capitalize;
    color: #F2C600;
    background: #FFFDF2;
    padding: 10px 19px;
    border-radius: 4px;
    display: inline;
    z-index: 10;
}

.about-brand-feature .head h3{
    font-weight: 600;
    font-size: 48px;
    line-height: 66px;
    text-transform: capitalize;
    color: #111827;
    margin-top: 20px; 
    z-index: 10;
}

.about-brand-feature .body img{
    max-width: 200px;
    margin: auto;
    text-align: center;
    display: inline-block;
}

.about-brand-feature .tab.top-content.swiper,
.about-brand-feature .tab.lower-content.swiper{
    display: none;
}

@media screen and (max-width:1023px) {
    .about-brand-feature .tab.top-content.swiper,
    .about-brand-feature .tab.lower-content.swiper{
        display: block;
    }
    .about-brand-feature .top-content.swiper,
    .about-brand-feature .lower-content.swiper{
        display: none;
    }
    .about-brand-feature .head h3{
        font-size: calc(16px + 3.2vw) !important;
        line-height: normal;
    }
    .about-brand-feature .head p{
        line-height: normal;
        font-size: calc(16px + 2vw) !important;;
    }
    .about-brand-feature{
        margin-top: 20px;
    }
    .about-brand-feature .head{
        margin-bottom: 30px;
    }
}

/* about brand feature */

/* about happy customer */
.about-happy-customer{
    margin-top: 120px;
    position: relative;
}

.about-happy-customer .left p{
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 28px;
    color: #4F4F4F;
}

.about-happy-customer .left h3{
    font-weight: 600;
    font-size: 48px;
    line-height: 66px;
    text-transform: capitalize;
}

.about-happy-customer .left img{
    max-width: 350px;
    width: 100%;
    margin-top: 40px;
}
.about-happy-customer .right .title .col-sm-10{
    padding-left: 0;
}
.about-happy-customer .right .title .name{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    color: #111827;
    margin: auto;
}
.about-happy-customer .right .title .work{
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #374151;
}

.about-happy-customer .right .title{
    margin-bottom: 20px;
}

.about-happy-customer .right> .row > .col-md-5{
    width: 80%;
}

.about-happy-customer .right> .row > .col-md-10 > p{
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 28px;
    color: #374151;
    margin-bottom: 60px;
}

@media screen and (max-width:1023px) {
    .about-happy-customer .left h3{
        font-size: calc(16px + 3.2vw) !important;
        line-height: normal;
        text-align: center;
    }
    .about-happy-customer .left p{
        line-height: normal;
        text-align: center;
    }
    .about-happy-customer {
        margin-top: 30px;
    }
    .about-happy-customer .left img{
        margin: auto;
        display: block;
        margin-top: 30px;
    }
    .about-happy-customer .col-md-7.col-sm-12.right .col-md-2{
        width: 15%;
    }
    .about-happy-customer .col-md-7.col-sm-12.right .col-md-2 img{
        width: 100%;
    }
    .about-happy-customer .col-md-7.col-sm-12.right .col-md-10{
        width: 85%;
    }
    .about-happy-customer .col-md-7.col-sm-12.right .col-md-10 > p{
        margin-bottom: 40px;
    }
}
/* about happy customer */

/* about review section */
.about-review-section{
    background-color: #F8F8F8;
    max-height: 388px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-review-section img{
    padding: 20px;
    width: 100%;
}
/* about review section */

/* about-price-section */
.about-price-section{
    margin-top: 120px;
    position: relative;
}

.about-price-section .left .left,
.about-price-section .left .right{
    background: #FFFFFF;
    box-shadow: 0px 80px 100px -35px rgba(0, 0, 0, 0.06);
    border-radius: 24px;
    border: none;
    text-align: center;
}
.about-price-section .left .left{
    max-height: 570px;
    height: auto;
}
.about-price-section .left .right{
    box-shadow: 0px 50px 80px -35px rgba(0, 0, 0, 0.1);
    max-height: 440px;
    height: auto;
}

.about-price-section .left .left h5,
.about-price-section .left .right h5{
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #292E37;
    text-transform: uppercase;
}
.about-price-section .left .left p{
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #525D73;
}

.about-price-section .left .left h3,
.about-price-section .left .right h3{
    font-weight: bold;
    font-size: 52px;
    line-height: 132.5%;
    color: #292E37;
    margin: 30px auto;
}
.about-price-section .left .left ul li{
    font-size: 16px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #525D73;
    list-style: none;
}
.about-price-section .left .left ul{
    margin-bottom: 40px;
}
.about-price-section .left .left a{
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #5B21B6;
    display: block;
    margin: auto;
    padding: 20px 10px;
    border: none;
}
.about-price-section .left .right p{
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #95949A;
}
.about-price-section .left .right ul,
.about-price-section .left .left ul{
    padding-left: 0;
}
.about-price-section .left .right ul li{
    font-size: 16px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #95949A;
    list-style: none;
}

.about-price-section .left .right a{
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    background: #FFD000;
    display: block;
    margin: auto;
    padding: 16px 10px;
    border: none;
}
.about-price-section .row > .left{
    position: relative;
    padding: 0 30px;
}
.about-price-section .row > .left .bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
}
.about-price-section .row > .left .dot{
    position: absolute;
    bottom: -40px;
    right: -40px;
    z-index: -1;
}
.about-price-section .row > .left .like{
    position: absolute;
    top: 45%;
    left: -10%;
    transform: translate(0, -50%);
    max-width: 195px;
    width: 100%;
}
@media screen and (max-width:1023px) {
    .about-price-section .left ul li{
        font-size: 12px !important;
        line-height: 28px !important;
    }
    .about-price-section .left .left h3,
    .about-price-section .left .right h3{
        font-size: calc(16px + 3.2vw) !important;
        line-height: normal;
    }
    .about-price-section .left .left a,
    .about-price-section .left .right a{
        font-size: 14px;
        padding: 12px 0;
    }
    .about-price-section .row > .left .like{
        top: 47%;
    }
    .about-price-section{
        margin-top: 40px;
    }
}
@media screen and (max-width:767px) {
    .about-price-section .row > .left{
        padding: 0;
    }
}
.about-price-section .row > .right p.head{
    font-size: 32px;
    line-height: 48px;
    text-transform: capitalize;
    color: #F2C600;
    background: #FFFDF2;
    padding: 10px 19px;
    border-radius: 4px;
    margin-bottom: 10px;
}
.about-price-section .row > .right h3{
    font-weight: 600;
    font-size: 48px;
    line-height: 66px;
    text-transform: capitalize;
    color: #111827;
    margin-bottom: 15px;
}

.about-price-section .row > .right p.text{
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: #5B5A62;
    max-width: 320px;
    margin:  0 auto 30px;
}
.about-price-section .row > .right input{
    display: none;
}
.about-price-section .row > .right label{
    /* padding: 20px; */
    font-weight: 600;
    font-size: 14.2521px;
    line-height: 132.5%;
    color: #111827;
    border-bottom: 2px solid transparent;
}

.about-price-section .row > .right .month,
.about-price-section .row > .right .year{
    padding: 10px 20px;
}
.about-price-section .row > .right .month{
    border-right: 1px solid #E3E3E3;;
}

.about-price-section .row > .right input[type="radio"]:checked + label{
    border-bottom: 2px solid #6D28D9;
    color: #6D28D9 !important;
}
.about-price-section .row > .right > .card{
    box-shadow: 0px 50px 80px -35px rgba(0, 0, 0, 0.1);
    padding: 40px;
}
@media screen and (max-width:1023px) {
    .about-price-section .row > .right h3{
        font-size: calc(16px + 3.2vw) !important;
        line-height: normal;
    }
    .about-price-section .row > .right > .card{
        padding: 0 5px 20px;
    }
}
/* about-price-section */