@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #E5E5E5;
    overflow-x: hidden;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    position: relative;
}

/* hero section */
    .hero-section{
        background-color: #4c1d95;
    }
    /* Nav Section */
    .hero-section nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 80px;
        background-color: transparent;
        padding: 24px 0;
    }

    .hero-section nav .logo {
        width: 72px;
        height: 72px;
        flex-basis: 10%;
    }

    .hero-section .nav-links{
        display: flex;
        justify-content: space-around;
        flex-basis: 90%;
    }

    .hero-section .nav-links li{
        list-style: none;
    }

    .hero-section .nav-links a{
        color: #F2F2F2;
        text-decoration: none;
        letter-spacing: 3px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
    }

    .hero-section .burger{
        display: none;
        cursor: pointer;
    }

    .hero-section .burger div{
        width: 25px;
        height: 3px;
        background-color: #F2F2F2;;
        margin: 5px;
        transition: all 0.6s ease;
    }

    @media screen and (max-width:1023px) {
        .hero-section .nav-links{
            position: absolute;
            right: 0;
            top: 120px;
            height: calc(100vh - 128px);
            background-color: rgba(76, 29, 149, 0.9);
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
            display: none;
            z-index: 99;
        }

        .hero-section .nav-links li{
            opacity: 0;
        }

        .hero-section .burger{
            display: block;
        }

        .container{
            padding: 20px;
        }
        .hero-section .container img.arrow{
            top: 45% !important;
        }
        .hero-section .content-container{
            margin-top: 50px !important;
        }
    }

    .hero-section .nav-links.nav-active{
        transform: translateX(0%);
        display: block;
        margin: auto;
        text-align: center;
    }

    @keyframes navLinkFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }

        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .hero-section .burger.toggle .line1{
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .hero-section .burger.toggle .line2{
        opacity: 0;
    }

    .hero-section .burger.toggle .line3{
        transform: rotate(45deg) translate(-5px, -6px);
    }
    
    .hero-section .nav-login{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 10;
    }

    .hero-section .nav-login a{
        color: #fff;
        text-decoration: none;
        display: block;
        width: 64px;
        text-align: center;
        color:  #111827;
        line-height: 20px;
    }

    .hero-section .nav-login a.login{
        color: #fff;
        width: 94px;
        padding: 12px;
        font-size: 18px;
        line-height: 28px;
    }

    .hero-section .nav-login a.signup{
        background: #FFD000;;
        width: 90px;
        border-radius: 4px;
        padding: 12px;
        font-size: 16px;
    }

    .hero-section .container{
        position: relative;
    }

    .hero-section .container img.cross{
       position: absolute;
       bottom: 0;
       left: 10px;
       animation: cross-animation 5s linear infinite;
    }

    @keyframes cross-animation {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
    .hero-section .container img.curve{
        position: absolute;
        bottom: 20%;
        right: 10px;
        animation: curve-animation 5s linear infinite;
     }
     @keyframes curve-animation {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 1px) rotate(1deg); }
        30% { transform: translate(3px, 1px) rotate(0deg); }
        40% { transform: translate(-1px, -1px) rotate(1deg); }
        50% { transform: translate(2px, 0px) rotate(-1deg); }
        60% { transform: translate(-3px, 4px) rotate(0deg); }
        70% { transform: translate(4px, 0px) rotate(-1deg); }
        80% { transform: translate(-4px, -1px) rotate(1deg); }
        90% { transform: translate(4px, 2px) rotate(0deg); }
        100% { transform: translate(-2px, -2px) rotate(-1deg); }
    }
    .hero-section .container img.line301{
        position: absolute;
        top: 0;
        left: 0;
        animation: line301 2s linear infinite;
        transition: 0.5;
     }
     @keyframes line301 {
        0%{opacity: 0.1;}
        25%{ opacity: 0.5;}
        50%{ opacity: 1;}
        75%{opacity: 0.5;}
        100%{opacity: 0;}
    }
    .hero-section .container img.line302{
        position: absolute;
        top: 18%;
        left: 25%;
        animation: line302 3s linear infinite;
        transition: 0.5;
     }
     @keyframes line302 {
        0%{opacity: 0.1;}
        25%{ opacity: 0.5;}
        50%{ opacity: 1;}
        75%{opacity: 0.5;}
        100%{opacity: 0;}
    }
    .hero-section .container img.line303{
        position: absolute;
        top: 5%;
        left: 40%;
        animation: line303 2s linear infinite;
        transition: 0.5;
     }
     @keyframes line303 {
        0%{opacity: 0.1;}
        25%{ opacity: 0.5;}
        50%{ opacity: 1;}
        75%{opacity: 0.5;}
        100%{opacity: 0;}
    }

    .hero-section .container img.line304{
        position: absolute;
        top: 22%;
        right: 35%;
        animation: line304 3s linear infinite;
        transition: 0.5;
     }
     @keyframes line304 {
        0%{opacity: 0.1;}
        25%{ opacity: 0.5;}
        50%{ opacity: 1;}
        75%{opacity: 0.5;}
        100%{opacity: 0;}
    }

    .hero-section .container img.line305{
        position: absolute;
        bottom: -4%;
        right: 15%;
        animation: line305 3s linear infinite;
        transition: 0.5;
     }
     @keyframes line305 {
        0%{opacity: 0.1;}
        25%{ opacity: 0.5;}
        50%{ opacity: 1;}
        75%{opacity: 0.5;}
        100%{opacity: 0;}
    }
    .hero-section .container img.line306{
        position: absolute;
        bottom: 0%;
        left: 30%;
        animation: line306 3s linear infinite;
        transition: 0.5;
     }
     @keyframes line306 {
        0%{opacity: 0.1;}
        25%{ opacity: 0.5;}
        50%{ opacity: 1;}
        75%{opacity: 0.5;}
        100%{opacity: 0;}
    }

    .hero-section .container img.arrow{
        position: absolute;
        top: 30%;
        left: 10%;
        animation: arrow 2s linear infinite;
        transition: 0.5;
     }
     @keyframes arrow {
        0% { transform: translate(5px); opacity: 1;}
        25% { transform: translate(10px) ; opacity: 0.5;}
        50% { transform: translate(15px); opacity: 1; }
        75% { transform: translate(10px) ; opacity: 0.5;}
        100% { transform: translate(5px); opacity: 1;}
    }
    .hero-section .container img.glass{
        position: absolute;
        top: 18%;
        left: 51%;
        animation: glass 2s linear infinite;
        transition: 0.5;
     }
     @keyframes glass {
        0%{opacity: 0.2;}
        25%{ opacity: 0.5;}
        50%{ opacity: 1;}
        75%{opacity: 0.5;}
        100%{opacity: 0.1;}
    }

    /* content-container */

    .hero-section .content-container{
        position: relative;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        color: #F2F2F2;
        text-align: center;
    }

    .hero-section .content-container h3{
        font-weight: bold;
        font-size: 60px;
        line-height: 82px;
        text-align: center;
        letter-spacing: 0.008em;
        text-transform: capitalize;
        color: #F2F2F2;
        background-color: #4c1d95;
    }

    .hero-section .content-footer{
        overflow: hidden;
        width: 100%;
        margin-top: 120px;
    }

    .hero-section .content-footer svg{
        margin-bottom: -10px;
    }

    @media screen and (max-width:1023px) {
        .hero-section .content-container h3{
            font-size: calc(16px + 3.2vw);
            line-height: normal;
        }
    }

/* hero section */

/* about-distributor-section */
    .about-distributor-section{
        background-color: #E5E5E5;
    }
    .about-distributor-section .content{
        position: relative;
    }

    .about-distributor-section .header{
        height: 300px;
    }
    .about-distributor-section .user{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        left: 50%;
        top: -128px;
        transform: translate(-50%, 0);
        width: 100%;
    }
    .about-distributor-section .user h5{
        font-weight: 600;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        text-transform: capitalize;
        color: #4C1D95;
        display: block;
        margin: 20px auto 8px;
    }
    .about-distributor-section .user p{
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: #4B5563;
    }
    .about-distributor-section .body{
        padding: 10px 0 40px;
    }
    .about-distributor-section .body .dashboard{
        display: table;
        width: 100%;
        border: 1px solid #E5E5E5;
        border-radius: 4px;
    }
    .about-distributor-section .body .dashboard .left{
        background-color: #4C1D95;
        display: table-cell;
        width: 30%;
    }

    .about-distributor-section .body .dashboard .left input:checked + label{
        background: linear-gradient(90deg, rgba(255,208,0,1) 0%, rgba(255,213,26,1) 100%);
    }

    .about-distributor-section .body .dashboard .left input{
        display: none;
    }
    .about-distributor-section .body .dashboard .left label{
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: .1em;
        display: block;
        border: 1px solid transparent;
        padding: 10px 15px;
        cursor: pointer;
    }
    .about-distributor-section .body .dashboard .left input:checked + label{
        color: #111827;
    }
    .about-distributor-section .body .dashboard .left label svg{
        margin-right: 5px;
    }
    .about-distributor-section .body .dashboard .left label svg path{
        fill: #fff;
    }
    .about-distributor-section .body .dashboard .left input:checked + label svg path{
        fill: #111827;
    }
    .about-distributor-section .body .dashboard .left label[for="home"] svg path{
        fill: transparent;
        stroke-width: 50px;
        stroke: #fff;
    }
    .about-distributor-section .body .dashboard .left input:checked + label[for="home"] svg path{
        fill: transparent;
        stroke-width: 50px;
        stroke: #111827;
    }
    .about-distributor-section .body .dashboard .right{
        background-color: #FFFFFF;
        display: table-cell;
    }

    .about-distributor-section .body .dashboard .right .content{
        padding: 8px 0 8px 15px;
    }
    .about-distributor-section .body .dashboard .right .head-dash{
        border-bottom: 1px solid #9CA3AF;
    }
    .about-distributor-section .body .dashboard .right .head-dash .title1 svg path{
        fill: transparent;
        stroke-width: 50px;
        stroke: #111827;
    }
    .about-distributor-section .body .dashboard .right .head-dash h5{
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        text-transform: uppercase;
        color: #111827;
        display: none;
    }
    .about-distributor-section .body .dashboard .right .head-dash h5.active{
        display: block;
    }
    .about-distributor-section .body .dashboard .right .head-dash h5 svg{
        margin-right: 5px;
    }
    .about-distributor-section .body-dash{
        padding: 25px 15px 15px;
    }
    .about-distributor-section .body-dash .board{
        display: none;
    }
    .about-distributor-section .body-dash .board.active{
        display: block;
    }
    .about-distributor-section .body-dash .home p{
        padding: 10px;
    }
    .about-distributor-section .body-dash .home .s1{
        font-family: Mulish;
        font-size: 19.3721px;
        line-height: 25px;
        color: #6B7280;
        width: 28%;
        display: inline-block;
    }
    .about-distributor-section .body-dash .home .s2{
        font-family: Mulish;
        font-style: normal;
        font-weight: normal;
        font-size: 19px;
        line-height: 28px;
        color: #111827;
        display: inline-block;
        background: #E5E7EB;
        border-radius: 4px;
        width: 72%;
        padding: 8px;
    }
    .about-distributor-section .body-dash .home .s2 svg path{
        fill: #48D994;
    }

    .about-distributor-section .body-dash .job .search .search-bar{
        background: #FFFFFF;
        box-shadow: 0px 1.38477px 4.1543px rgba(0, 0, 0, 0.1), 0px 1.38477px 2.76953px rgba(0, 0, 0, 0.06);
        border-radius: 2.76953px;
        border: none;
        padding: 6px 12px;
        outline: none;
    }
    .about-distributor-section .body-dash .job .search nav{
        font-family: Mulish;
        font-style: normal;
        font-weight: normal;
        font-size: 15.2324px;
        line-height: 17px;
        text-align:center;
        color: #4B5563;
    }
    .about-distributor-section .body-dash .job .search nav li a{
        border: none;
        outline: none;
        color: #4B5563;
    }
    .about-distributor-section .body-dash .job .search nav li a:active,
    .about-distributor-section .body-dash .job .search nav li a:focus,
    .about-distributor-section .body-dash .job .search nav li a:hover{
        border: none;
        outline: none;
    }
    .about-distributor-section .body-dash .job .search nav li a.active{
        color: #fff;
        background: #7C3AED;
        border-radius: 3px;
    }
    .about-distributor-section .body-dash .job .display .title p{
        background-color: #E5E7EB;
        padding: 6px;
        border-radius: 4px;
    }
    .about-distributor-section .body-dash .job .display .title p .job-title,
    .about-distributor-section .body-dash .job .display .title p .date{
        cursor: pointer;
    }
    .about-distributor-section .body-dash .job .display .data p{
        font-size: 16px;
        line-height: 16px;
        color: #6B7280;
        padding: 6px;
        border-radius: 4px;
    }
    .about-distributor-section .body-dash .job .display .data p button{
        /* border: none; */
        font-size: 16px;
        line-height: 16px;
        color: #6B7280;
        padding: 6px 12px;
        background: #FFFFFF;
        border: 0.692383px solid #7C3AED;
        border-radius: 4px;
    }

    .about-distributor-section .body-dash .device .title p{
        background-color: #E5E7EB;
        padding: 6px;
        border-radius: 4px;
        color: #111827;
    }
    .about-distributor-section .body-dash .device .data p{
        font-family: Mulish;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 28px;
        color: #4B5563;
    }

    .about-distributor-section .body-dash .profile label{
        font-family: Mulish;
        font-size: 19.3721px;
        line-height: 25px;
        color: #6B7280;
    }
    .about-distributor-section .body-dash .profile input::placeholder{
        font-family: Mulish;
        font-size: 18px;
        color: #6B7280;
    }
    .about-distributor-section .body-dash .profile .confirm-button button{
        width: 100%;
    }

    @media screen and (max-width:1023px) {
        /* .about-distributor-section .header{
            top: -90px;
        } */
        .about-distributor-section .header img{
            width: 180px;
            max-width: 180px;
            height: 180px;
        }
        .about-distributor-section .user h5{
            font-size: calc(16px + 3.2vw);
            line-height: normal;
            display: block;
        }
        .about-distributor-section .user p{
            font-size: calc(16px + 1.2vw);
            line-height: normal;
        }
    }
    @media screen and (max-width:767px) {
        .about-distributor-section .body .dashboard{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
        }
        .about-distributor-section .body .dashboard .left{
            width: 100%;
        }
        .about-distributor-section .body .dashboard .right{
            width: 100%;
        }
        .about-distributor-section .body-dash .home p{
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        .about-distributor-section .body-dash{
            padding: 25px 0 15px;
        }
        .about-distributor-section .body-dash .home p span{
            font-size: 14px !important;
        }
        .about-distributor-section .body-dash .job .search{
            flex-direction: column;
        }
        .about-distributor-section .body-dash .job .search input{
            margin-bottom: 16px;
        }
        .about-distributor-section .body-dash .job .display p,
        .about-distributor-section .body-dash .device p,
        .about-distributor-section .body-dash .device p button,
        .about-distributor-section .body-dash .profile{
            font-size: 14px !important;
        }
        .about-distributor-section .body-dash .device p button{
            padding: 6px;
        }
        .about-distributor-section .body .dashboard .right .content{
            padding: 15px 5px;
        }
        .about-distributor-section .body{
            padding: 10px 0;
        }
        .about-distributor-section .header{
            height: 220px;
        }
    }
/* about-distributor-section */

/* about-footer-section */
.about-footer-section{
    position: relative;
    background-color: #F3F4F6;
}

.about-footer-section li,
.about-footer-section .logo p{
    list-style: none;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: #4B5563;
}
.about-footer-section .logo,
.about-footer-section .contact{
    max-width: 30%;
}
.about-footer-section .products,
.about-footer-section .support{
    max-width: 20%;
}

.about-footer-section .address-bar h5{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #1F2937;
}
.about-footer-section .note-bar img{
    max-width: 120px;
    width: 100%;
}


@media screen and (min-width:500px) and (max-width:1023px){
    .about-footer-section .logo,
    .about-footer-section .contact{
        max-width: 55%;
        width: 100%;
    }
    .about-footer-section .products,
    .about-footer-section .support{
        max-width: 45%;
        width: 100%;
    }
}
@media screen and (max-width:499px){
    .about-footer-section .logo,
    .about-footer-section .contact,
    .about-footer-section .products,
    .about-footer-section .support{
        max-width: 100%;
        width: 100%;
    }
}

/* about-footer-section */