@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #E5E5E5;
    overflow-x: hidden;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    position: relative;
}

/* hero section */
    .hero-section{
        background-color: #4c1d95;
    }
    /* Nav Section */
    .hero-section nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 80px;
        background-color: transparent;
        padding: 24px 0;
    }

    .hero-section nav .logo {
        width: 72px;
        height: 72px;
        flex-basis: 10%;
    }

    .hero-section .nav-links{
        display: flex;
        justify-content: space-around;
        flex-basis: 90%;
    }

    .hero-section .nav-links li{
        list-style: none;
    }

    .hero-section .nav-links a{
        color: #F2F2F2;
        text-decoration: none;
        letter-spacing: 3px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
    }

    .hero-section .burger{
        display: none;
        cursor: pointer;
    }

    .hero-section .burger div{
        width: 25px;
        height: 3px;
        background-color: #F2F2F2;;
        margin: 5px;
        transition: all 0.6s ease;
    }

    @media screen and (max-width:1023px) {
        .hero-section .nav-links{
            position: absolute;
            right: 0;
            top: 120px;
            height: calc(100vh - 128px);
            background-color: rgba(76, 29, 149, 0.9);
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
            display: none;
            z-index: 99;
        }

        .hero-section .nav-links li{
            opacity: 0;
        }

        .hero-section .burger{
            display: block;
        }

        .container{
            padding: 20px;
        }
        .hero-section .container img.arrow{
            top: 45% !important;
        }
        .hero-section .content-container{
            margin-top: 50px !important;
        }
    }

    .hero-section .nav-links.nav-active{
        transform: translateX(0%);
        display: block;
        margin: auto;
        text-align: center;
    }

    @keyframes navLinkFade{
        from{
            opacity: 0;
            transform: translateX(50px);
        }

        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .hero-section .burger.toggle .line1{
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .hero-section .burger.toggle .line2{
        opacity: 0;
    }

    .hero-section .burger.toggle .line3{
        transform: rotate(45deg) translate(-5px, -6px);
    }
    
    .hero-section .nav-login{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 10;
    }

    .hero-section .nav-login a{
        color: #fff;
        text-decoration: none;
        display: block;
        width: 64px;
        text-align: center;
        color:  #111827;
        line-height: 20px;
    }

    .hero-section .nav-login a.login{
        color: #fff;
        width: 94px;
        padding: 12px;
        font-size: 18px;
        line-height: 28px;
    }

    .hero-section .nav-login a.signup{
        background: #FFD000;;
        width: 90px;
        border-radius: 4px;
        padding: 12px;
        font-size: 16px;
    }

    .hero-section .container{
        position: relative;
    }
    .hero-section .container img.mobile{
        position: absolute;
        top: 50%;
        right: 30%;
     }
    .hero-section .container img.cross{
       position: absolute;
       bottom: 0;
       left: 10px;
       animation: cross-animation 5s linear infinite;
    }

    @keyframes cross-animation {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
    .hero-section .container img.curve{
        position: absolute;
        bottom: 20%;
        right: 10px;
        animation: curve-animation 5s linear infinite;
     }
     @keyframes curve-animation {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 1px) rotate(1deg); }
        30% { transform: translate(3px, 1px) rotate(0deg); }
        40% { transform: translate(-1px, -1px) rotate(1deg); }
        50% { transform: translate(2px, 0px) rotate(-1deg); }
        60% { transform: translate(-3px, 4px) rotate(0deg); }
        70% { transform: translate(4px, 0px) rotate(-1deg); }
        80% { transform: translate(-4px, -1px) rotate(1deg); }
        90% { transform: translate(4px, 2px) rotate(0deg); }
        100% { transform: translate(-2px, -2px) rotate(-1deg); }
    }
    .hero-section .container img.line301{
        position: absolute;
        top: 0;
        left: 0;
        animation: line301 2s linear infinite;
        transition: 0.5;
     }
     @keyframes line301 {
        0%{opacity: 0.1;}
        25%{ opacity: 0.5;}
        50%{ opacity: 1;}
        75%{opacity: 0.5;}
        100%{opacity: 0;}
    }
    .hero-section .container img.line302{
        position: absolute;
        top: 18%;
        left: 25%;
        animation: line302 3s linear infinite;
        transition: 0.5;
     }
     @keyframes line302 {
        0%{opacity: 0.1;}
        25%{ opacity: 0.5;}
        50%{ opacity: 1;}
        75%{opacity: 0.5;}
        100%{opacity: 0;}
    }
    .hero-section .container img.line303{
        position: absolute;
        top: 5%;
        left: 40%;
        animation: line303 2s linear infinite;
        transition: 0.5;
     }
     @keyframes line303 {
        0%{opacity: 0.1;}
        25%{ opacity: 0.5;}
        50%{ opacity: 1;}
        75%{opacity: 0.5;}
        100%{opacity: 0;}
    }

    .hero-section .container img.line304{
        position: absolute;
        top: 22%;
        right: 35%;
        animation: line304 3s linear infinite;
        transition: 0.5;
     }
     @keyframes line304 {
        0%{opacity: 0.1;}
        25%{ opacity: 0.5;}
        50%{ opacity: 1;}
        75%{opacity: 0.5;}
        100%{opacity: 0;}
    }

    .hero-section .container img.line305{
        position: absolute;
        bottom: -4%;
        right: 15%;
        animation: line305 3s linear infinite;
        transition: 0.5;
     }
     @keyframes line305 {
        0%{opacity: 0.1;}
        25%{ opacity: 0.5;}
        50%{ opacity: 1;}
        75%{opacity: 0.5;}
        100%{opacity: 0;}
    }
    .hero-section .container img.line306{
        position: absolute;
        bottom: 0%;
        left: 30%;
        animation: line306 3s linear infinite;
        transition: 0.5;
     }
     @keyframes line306 {
        0%{opacity: 0.1;}
        25%{ opacity: 0.5;}
        50%{ opacity: 1;}
        75%{opacity: 0.5;}
        100%{opacity: 0;}
    }

    .hero-section .container img.line307{
        position: absolute;
        bottom: -40%;
        right: 15px;
        animation: line307 3s linear infinite;
        transition: 0.5;
     }
     @keyframes line307 {
        0%{opacity: 0.1;}
        25%{ opacity: 0.5;}
        50%{ opacity: 1;}
        75%{opacity: 0.5;}
        100%{opacity: 0;}
    }

    .hero-section .container img.arrow{
        position: absolute;
        top: 30%;
        left: 10%;
        animation: arrow 2s linear infinite;
        transition: 0.5;
     }
     @keyframes arrow {
        0% { transform: translate(5px); opacity: 1;}
        25% { transform: translate(10px) ; opacity: 0.5;}
        50% { transform: translate(15px); opacity: 1; }
        75% { transform: translate(10px) ; opacity: 0.5;}
        100% { transform: translate(5px); opacity: 1;}
    }
    .hero-section .container img.glass{
        position: absolute;
        top: 18%;
        left: 51%;
        animation: glass 2s linear infinite;
        transition: 0.5;
     }
     @keyframes glass {
        0%{opacity: 0.2;}
        25%{ opacity: 0.5;}
        50%{ opacity: 1;}
        75%{opacity: 0.5;}
        100%{opacity: 0.1;}
    }

    /* content-container */

    .hero-section .content-container{
        position: relative;
        z-index: 99;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        color: #F2F2F2;
        text-align: center;
    }

    .hero-section .content-container h3{
        font-weight: bold;
        font-size: 60px;
        line-height: 82px;
        text-align: center;
        letter-spacing: 0.008em;
        text-transform: capitalize;
        color: #F2F2F2;
        background-color: #4c1d95;
    }

    .hero-section .content-footer{
        overflow: hidden;
        width: 100%;
        margin-top: 120px;
    }

    .hero-section .content-footer svg{
        margin-bottom: -10px;
    }

    @media screen and (max-width:1023px) {
        .hero-section .content-container h3{
            font-size: calc(16px + 3.2vw);
            line-height: normal;
        }
        .hero-section .container img.curve{
            bottom: 0;
        }
        .hero-section .container img.mobile{
            top: 42%;
        }
    }

/* hero section */

/* about-card-section */
.about-card-section{
    margin-top: 0;
}

.about-card-section .content{
    position: relative;
}

.about-card-section .top{
    display: block;
    margin: -150px auto 0;
    width: 100%;
}
.about-card-section .top .map{
    max-width: 1140px;
    width: 100%;
    position: relative;
    background: #fff;
    border: 1px solid #DDD6FE;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 32px;
    z-index: 10;
    margin: auto;
}
.about-card-section .top .map .gmap_canvas{
    display: block;
    overflow: hidden;
    background: none !important;

}

.about-card-section .top .map .mapouter {
    position: relative;
    text-align: right;
}

.about-card-section .top .map .gmap_canvas iframe,
.about-card-section .top .map .mapouter,
.about-card-section .top .map .gmap_canvas
.about-card-section .top .map #le{
    max-width: 1140px;
    width: 100%;
    height: 480px;
    border-radius: 32px;
}
.about-card-section .top .search-contents{
    max-width: 1140px;
    width: 100%;
    background: #4C1D95;
    border-radius: 32px;
    margin: auto;
}
.about-card-section .top .search-bar{
    max-width: 1120px;
    width: 100%;
    position: relative;
    padding: 80px 80px 15px;
    margin: -50px auto 0;
}

.about-card-section .top .search-bar form{
    position: relative;
    border: 2px solid #EDE9FE;
    box-sizing: border-box;
    border-radius: 8px;
    height: 70px;
}

.about-card-section .top .search-bar form input{
    border: none;
    background: #4C1D95;
    color: #E5E7EB;
}

.about-card-section .top .search-bar form input::placeholder{
    color: #D1D5DB;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 28px;
}

.about-card-section .top .search-bar form input:focus,
.about-card-section .top .search-bar form button:focus{
    outline: none;
    box-shadow: none;
}

.about-card-section .top .search-bar form .btn-dropdown,
.about-card-section .top .search-bar form .btn-dropdown:hover{
    padding: 0 40px 0;
    position: relative;
    font-family: 'Mulish', sans-serif;
    font-size: 19px;
    line-height: 28px;
    color: #E5E7EB;
}

.about-card-section .top .search-bar form .btn-dropdown::before{
    content: '';
    width: 1.5px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

.about-card-section .top .search-bar form .btn-search{
    border: 2px solid #ffc107;
    outline: 2px solid  #ffc107;
    font-family: 'Mulish', sans-serif;
    font-size: 19px;
    line-height: 28px;
    color: #111827;
    padding: 0 50px;
}

.about-card-section .top .search-content p{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: 24px auto 12px;
}

.about-card-section .top .search-content .search-country{
    margin: auto auto 15px;
}

.about-card-section .top .search-content .search-country > div{
    display: inline-block;
    padding: 12px 16px;
    background-color: #fff;
    border-radius: 4px;
    margin: 5px;
}

.about-card-section .top .search-content .search-country > div.active{
    background-color: #FFD000;
    color: #111827;
}

.about-card-section .top .search-content .search-country div a{
    text-decoration: none;
    color: #111827;
    font-size: 14px;
    font-family: 'Mulish', sans-serif;
    line-height: 16px;
    letter-spacing: 0.2px;
}

.about-card-section .distributors{
    display: table;
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 1140px;
    width: 100%;
    margin:  40px auto;
}
.about-card-section .distributors .distributor-details{
    display: table-cell;
}
.about-card-section .distributors .distributor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    margin-right: 30px;
}

.about-card-section .distributors .distributor .details{
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
}

.about-card-section .distributors .details .names{
    background: #4C1D95;
    border-radius: 4px 4px 0px 0px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-card-section .distributors .details .names h3{
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    padding: 10px 0 10px 16px;
}
.about-card-section .distributors .details .names span{
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.2px;
    color: #70159A;
    background: #EFD5FF;
    border-radius: 2px;
    padding: 5px;
    margin-right: 5px;
}
.about-card-section .distributors .details .country{
    background: #A78BFA;
}

.about-card-section .distributors .details .country p{
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #111827;
    padding: 6px 16px;
}

.about-card-section .distributors .details .info{
    margin-bottom: 10px;
}

.about-card-section .distributors .details .info p{
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #4B5563;
    margin-bottom: 2px;
}

.about-card-section .distributors .details .info p .props{
    display: inline-block;
    width: 40%;
}

.about-card-section .distributors .reseller{
    display: table-cell;
    width: 33%;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
}

.about-card-section .distributors .resseler-text{
    text-align: center;
}
.about-card-section .distributors .reseller h3{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #000000;
}

.about-card-section .distributors .reseller p{
    font-family: 'Mulish', sans-serif;
    font-size: 17px;
    line-height: 28px;
    color: #000000;
}

.about-card-section .distributors .reseller a{
    background: #FFD000;
    border-radius: 4px;
    text-decoration: none;
    height: 50px;
    display: block;
    color: #1F2937;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
}

@media screen and (max-width:1200px) {
    .about-card-section .distributors .details .names h3{
        font-size: 16px;
        line-height: normal;
    }
    .about-card-section .distributors .details .names span,
    .about-card-section .distributors .details .info p{
        font-size: 12px;
        line-height: normal;
    }
    .about-card-section .distributors .details .country p{
        font-size: 14px;
        line-height: normal;
    }

    .about-card-section .top .search-content .search-country > div{
        padding: 8px;
    }
    .about-card-section .top .search-bar form .btn-search{
        padding: 0 20px 0;
    }
}
@media screen and (max-width:1023px) {
    .about-card-section .distributors .reseller{
        width: 100%;
        max-width: 360px;
        display: block;
        margin: auto auto 30px;
    }
    .about-card-section .distributors{
        display: flex;
        flex-direction: column;
    }
    .about-card-section .distributors .distributor-details{
        order: 2;
    }
    .about-card-section .distributors .distributor{
        margin-right: 0;
    }
    .about-card-section .distributors .reseller p{
        margin: 1.5rem auto !important;
    }
    .about-card-section .distributors .reseller a{
        font-size: 14px;
        line-height: normal;
        height: 35px;
        margin-bottom: 30px;
    }
    .about-card-section .top{
        margin: -100px auto 0;
    }
    .about-card-section .top .search-bar form .btn-dropdown, 
    .about-card-section .top .search-bar form .btn-dropdown:hover{
        padding: 0 15px 0;
    }
    .about-card-section .top .search-bar form{
        height: 50px;
    }
    .about-card-section .top .map .gmap_canvas iframe,
    .about-card-section .top .map .mapouter,
    .about-card-section .top .map .gmap_canvas
    .about-card-section .top .map #le{
        height: 350px;
    }
}
@media screen and (max-width:767px) {
    .about-card-section .distributors .distributor{
        grid-template-columns: 1fr;
    }
    .about-card-section .distributors .reseller h3{
        font-size: calc(12px + 2.5vw);
    }
    .about-card-section .top .search-bar form .element-hide{
        display: none;
    }
    .about-card-section .top .search-bar{
        max-width: 100%;
        padding: 80px 20px 15px;
    }
    
    .about-card-section .top .search-content .search-country > div{
        padding: 5px;
    }
    .about-card-section .top .search-content .search-country > div a{
        font-size: 12px;
    }
    .about-card-section .top .map .gmap_canvas iframe,
    .about-card-section .top .map .mapouter,
    .about-card-section .top .map .gmap_canvas
    .about-card-section .top .map #le{
        height: 240px;
    }
}
/* about-card-section */

/* about-footer-section */
.about-footer-section{
    position: relative;
    background-color: #F3F4F6;
}

.about-footer-section li,
.about-footer-section .logo p{
    list-style: none;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: #4B5563;
}
.about-footer-section .logo,
.about-footer-section .contact{
    max-width: 30%;
}
.about-footer-section .products,
.about-footer-section .support{
    max-width: 20%;
}

.about-footer-section .address-bar h5{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #1F2937;
}
.about-footer-section .note-bar img{
    max-width: 120px;
    width: 100%;
}


@media screen and (min-width:500px) and (max-width:1023px){
    .about-footer-section .logo,
    .about-footer-section .contact{
        max-width: 55%;
        width: 100%;
    }
    .about-footer-section .products,
    .about-footer-section .support{
        max-width: 45%;
        width: 100%;
    }
}
@media screen and (max-width:499px){
    .about-footer-section .logo,
    .about-footer-section .contact,
    .about-footer-section .products,
    .about-footer-section .support{
        max-width: 100%;
        width: 100%;
    }
}

/* about-footer-section */